body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 10px 20px;
    position: fixed;
    height: 10%;
    width: 100%;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.navbar-logo img {
    height: 60px;
    margin-right: 10px;
}

.navbar-logo img:nth-child(3) {
    height: 80px; /* Adjust this value as needed */
    transform: translateY(10px);
}

.navbar-brand {
    color: #aaaaaa;
    font-size: 38px;
    font-weight: bold;
    transform: translateY(5px); /* Move the brand down */
    position: relative;
    left: -180px; /* Adjust this value as needed */
}


.navbar-links {
    display: flex;
    align-items: center; /* Align links vertically center */
}
.navbar-links-special {
    display: flex;
    align-items: center; /* Align links vertically center */
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 42px 10px;
    transform: translateY(5px); /* Move the links up */
}

.navbar-links a:hover {
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 2px;
}

.navbar-links-special a:hover {
    background-color: rgba(255, 0, 0, 0.686);
    border-radius: 2px;
    transform: scale(1.15) ;
}
